html {
    position: relative;
    min-height: 100%;
    width: 100%
}
body {
    height: 100%;
    color: #000000;
}

.container #accordion {
    margin-top: 10%;
    margin-bottom: 20%;
    color: #000000;
}

footer a:visited , a:link, a:hover, a:active{
    color: #000000;
    text-decoration: none;
}

.simpleform {
    background-color: antiquewhite;
    margin-top: 10%;
    text-align: center;
    color: black;
}

footer {
    position: absolute;
    bottom: 0;
 	width: 100%;
    color: #000000;
    text-align: center;
    
}